.intro  {
  text-align:center;
  border:5px solid black;
}

.highlight {
  color: red;
  background-color: black;
}

.paragraph {
  text-align:center;
  border:5px solid black;
}


img {
  display:block;
  margin:auto;
}
